server {
    listen 80;
    server_name {{ nginx_server_name }};

    location / {
        root /var/www/html;
        index index.html;
        
        # Deny access to all by default
        deny all;

        # Allow specific IP addresses
        {% for ip in allowed_ips %}
        allow {{ ip }};
        {% endfor %}
    }
}

